// Font imports
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Color definitions
$color-normal:      #101010;
$color-red:         #A02C2C;
$color-blue:        #2C5AA0;
$color-light-red:   #C83737;
$color-light-blue:  #3771C8;

// Font definitions
$font-normal:     'Motserrat', sans-serif;
$font-heading:    'Motserrat', sans-serif;