// Font imports
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Color definitions
$color-normal:    #101010;
$color-heading:   #A02C2C;
$color-accent:    #2C5AA0;
$color-header:    #92b5e8;
$light-red:       #c83737;
$light-blue:      #3771c8;

// Font definitions
$font-normal:     'Motserrat', sans-serif;
$font-heading:    'Motserrat', sans-serif;