// Font imports
@import url('https://fonts.googleapis.com/css?family=Lato');

// Color definitions
$color-front:     #60606A;
$color-back:      #F0F0FA;
$color-accent:    #E0E0EA;

// Font definitions
$font-normal:     'Lato', sans-serif;
$font-heading:    'Lato', sans-serif;